@import '../../styles/common';

.next-dialog{
	width:600px;
}
.next-dialog-body{
	padding-top:0 !important;
}
.send-message{
	border-top: 1px solid #bbb;
	padding-top:20px;
	.line{
		margin-bottom: 15px;
		label{
			float: left;
			display: inline-block;
			width:70px;
			height: 20px;
			text-align: right;
		}
		#logistics-company{
			width:150px;
		}
		.next-input{
			width:150px;
		}
	}

}
.goods{
	width:550px;
	border:1px solid #bbb;
	.goods-info{
		padding:10px;
		border-bottom:1px solid #bbb;
		.goods-describe{
			float: left;
			height: 80px;
			width:60%;
			display: inline-block;
			img{
				float: left;
			}
			.goods-name{
				display: inline-block;
			}

		}
		.goods-price{
			height: 80px;
			width:40%;
			display: inline-block;
			.price>span{
				display: inline-block;
				width:70px;
				text-align: right;
			}
			.original-price{
				font-size: 16px;
				color:#bbb;
				span{
					text-decoration: line-through;
				}
			}
			.current-price{
				position: relative;
				font-size:16px;
				.number{
					position: absolute;
					top:-2px;
					left:85px;
					display: inline-block;
					color:red;
					font-size: 14px;
				}
			}
			.privilege-price{
				font-size:12px;
			}
		}
	}
	.receive-address{
		padding:10px;
	}
}
.address{
	.line{
		margin-top: 15px;
		label{
			float: left;
			display: inline-block;
			width:70px;
			height: 20px;
			text-align: right;
		}
		#address{
			width:480px;
		}
	}
	#send-way{
		width:480px;
	}
	#return-way{
		width:480px;
	}
}
